<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9xO9ZRBoO3qG6hrh-tT6H0L3ER3fKY3U</string>
	<key>GCM_SENDER_ID</key>
	<string>438162565426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbor.app</string>
	<key>PROJECT_ID</key>
	<string>travel-planner-app-a13e8</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-planner-app-a13e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438162565426:ios:2b5c4c3274d13ca7214f2b</string>
</dict>
</plist>